#pingaCardLayout {
    margin-top:5%;                
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0px;
    background-color:#FCFCFC;
    font-weight: bolder;
    font-family:  Courier New;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color:transparent;
    font-size:24px;
    -webkit-box-shadow: 0 0 8px white;
    -moz-box-shadow: 0 0 8px white;
    box-shadow: 0 0 8px white;
}
#pingaCardLayout th{
    padding:0px;                
}

#pingaCardLayout td {
    padding:0px;
    text-align: center;
}

#pingaCardLayout .column-btn {
    margin:5px;
    border:1px solid transparent;
    width:24px;               
    color:white;                
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;                
}

#pingaCardLayoutHeader tr th:nth-child(1)  div {
    background-color:crimson;
}

#pingaCardLayoutHeader tr th:nth-child(2)  div {
    background-color:darkblue;
}

#pingaCardLayoutHeader tr th:nth-child(3)  div {
    background-color:chocolate;
}


#pingaCardLayoutHeader tr th:nth-child(4)  div {
    background-color:green;
}


#pingaCardLayoutHeader tr th:nth-child(5)  div {
    background-color:crimson;
}

#pingaCardLayout .number-cell {  
    border:none;
    color: indigo;                              
    display:block;  
    margin:5px;              
}

#pingaCardLayout .free-cell {
    color: darkgoldenrod;
} 

